html {
   margin: 0px;
   height: 100%;
   width: 100%;
}

body {
   margin: 0px;
   min-height: 100%;
   width: 100%;
}

#feedback{
	display:none;
	position:absolute;
	margin: 0px;
	height: 100%;
	width: 100%;
	text-align: center;
}

#feedback p{
	padding-top: 25%
}