html{
	width: 100%;
	height: 100%;
}

body{
	margin:0px !important;
	overflow-y: none;
}

#image{
	width:100%;
	text-align: center;
}

#image img{
	width: auto;
	max-height: 800px;
	max-width: 1280px;
}