html, body {
    margin: 0;
    height: 100%;
}

body{
	font-size: 18px;
	margin:0;
	padding:0;
}

header{
	background: #0088cc;
	color: #FFFFFF;
	overflow: hidden;
	padding: 1em 1em .5em 1em;
	text-align: center;
}

header h2{
	font-family: 'Lato', sans-serif;
	margin:0;
}

.container{
	font-family: 'Roboto', sans-serif;
	height: 410px;
	padding:5em 3em;
}

.container p{
	text-align: center;
}

.container form{
	margin-top: 60px;
}

.container form label{
	color: #0088cc;
	display: block;
	font-weight: 700;
	font-size: 14px;
}

.container form label>p{
	margin-bottom: 10px;
	text-align: left;
}

.container form input{
	border: none !important;
	border-bottom: 2px solid #bcbcbc!important;
	display: block;
	font-size: 20px;
	width: 100% !important;
}

.container form input:focus{
	outline: none;
}

.container form #image-input input{
	border-bottom: none !important;
	font-size: 10px !important;
}

.container form #start-button{
	margin-top: 2em;
}

.container form #start-button button{
	background: #0088cc;
	border:none !important;
	border-radius:5px;
	color:#FFFFFF;
	font-size:1em;
	padding: .6em;
	text-align: center;
	width: 100% !important;
}

@keyframes glowingFeedback{
    from {
    	font-size: 10px;
    }
    to {
    	font-size: 14px;
    }
}

.container form .feedback p{
	color: #ef5b5b;
    animation-name: glowingFeedback;
    animation-duration: .5s;
	font-size: 14px;
	margin:0;
	margin-top:.5em;
}